<%- include('header') -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur nisi lacus. Praesent a hendrerit purus. Donec dolor erat, sodales vel ornare id, bibendum quis mauris. Morbi dignissim eros eget mauris lobortis fringilla. Fusce quis diam sodales, varius magna efficitur, iaculis ante. Quisque consectetur quam nec nibh aliquet egestas. Sed a ullamcorper odio, eu feugiat lectus. Sed maximus tortor risus, vitae porta ante maximus quis. Fusce sollicitudin ipsum sit amet ligula pharetra, ut ullamcorper lacus commodo. Quisque mollis sem a nisi venenatis, a auctor mauris suscipit.</p>


<%- include('footer') -%>
